/* below this: KP reset */

/* makes sizing simpler */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
html {
	color-scheme: dark light;
	hanging-punctuation: first last;
}

/* min body height */
body {
	min-height: 100svh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li {
	/* max-width: var(--p-max-width, 65ch); */
	text-wrap: pretty;
	max-width: 80ch;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}

/* improve page scrolling on click when user accepts scrolling  */
/* scroll more in any direction based on padding size */
@media (prefers-reduce-motion: no-preference) {
	:has(:target) {
		scroll-behavior: smooth;
		/* scroll-padding-top: 0.0001px;  use this to space scroll destination */
	}
}

/* above this: KP reset */

/* ################################################################ */

/* CSS Reset */
/* * {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
} */

/* :root {
	--primary: #e41b25;
	--primaryLight: #ffd675;
	--secondary: #00698f;
	--secondaryLight: #001f3f;
	--headerColor: #1a1a1a;
	--bodyTextColor: #4e4b66;
	--bodyTextColorWhite: #fff;
	--topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
	--headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
	--bodyFontSize: 1rem;
	--sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
	--bodyFontFamily: "Open Sans", "Adjusted Trebuchet MS Fallback", Trebuchet MS, sans-serif;
	--headerFontFamily: "Oswald", "Adjusted Impact Fallback", Impact, sans-serif;
}*/

:root {
	/* font families */
	--bodyFont: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	--headFont: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

	/* font weights */
	--fw-reg: 400;
	--fw-bold: 500;
	--fw-dark: 600;
	--fw-void: 700;

	/* font sizes */
	--fs-1: 1rem;
	--fs-2: 1.25rem;
	--fs-3: 1.5rem;
	--fs-4: 2.25rem;
	--fs-5: 4rem;
	--fs-topper: var(--fs-3);
	--fs-header: var(--fs-5);

	/* font colors */
	/* light mode */
	--lm-bckgrnd-clr: #fff;
	--lm-font-clr: #000;

	/* dark mode */
	--dm-bckgrnd-clr: #000000;
	--dm-font-clr: #fff;

	/* ######################### */

	/* spacing elements */
	--section-padding: 40px;
	--title-padding: 30px;
	--para-padding: 20px;
}

/* reusable overlay */
.overlay{
    border-image: linear-gradient(hsla(0, 0%, 0%, 0.99), hsla(0, 0%, 0%, 0.1))
    fill 1;

}

/* ################################################################ */
/* BODY STYLES */
/* ################################################################ */

body {
	font-family: var(--bodyFont);
	background-color: black;
	color: #ffffff;
	font-size: var(--fs-1);
	line-height: 1.4em;
	letter-spacing: 0.03em;
	margin-inline: auto;
	text-align: center;
}

/* .body-wrapper {
    max-width: 1200px;
    background-color: #102a4555;
    margin-inline: auto ;
} */

/* ################################################################ */
/* HEADER STYLES */
/* ################################################################ */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 200px;
	padding: 25px;
	padding-bottom: 0;
}

header > nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2vw;
}

header > nav > a {
	background-color: rgb(2, 3, 3);
	color: #fff;
	font-size: clamp(0.875rem, 1.5vw, 1.4rem);
	text-decoration: none;
	font-family: var(--headFont);
}

/* ################################################################ */
/* SECTIONS STYLES */
/* ################################################################ */

.sections {
	padding: 80px;
}

.hero_section {
    display: flex;
	align-items: center;
	justify-content: center;
    min-height: calc(100vh - 200px); /* -200px for the header :) */
    min-height: calc(100vh - 200px); /* -200px for the header :) */
    background-color: rgb(7, 0, 46);
    background-image: url(../images/salah-regouane-cFtUyJS0v20-unsplash2.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center ;
    background-attachment:fixed ;
}

.hero_section > div {
    display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: center;
    /* background-color:rgba(37, 6, 66, 0.668); */
    max-width: 1020px;
    height: 60vh;
}

.shopName {
	font-size: 1.5vw;
    padding-bottom: 17px;
}

.hero_h1 {
    padding-bottom: 100px;
}

.hero_BTN {
    font-size: 25px;
    font-weight: var(--fw-void);
}

.about_section {
    display: flex;
	align-items: center;
	justify-content: space-between;
}

.services_section {
    display: flex;
	align-items: center;
	justify-content: space-between;
}

.prices_section > .prices_flex_div {
    display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.gallery_section {
}

.testimonials_section {
}

.contact_section {
    display: flex;
	align-items: center;
	justify-content: space-between;
    margin: 0;
}

/* ################################################################ */
/* ________ STYLES */
/* ################################################################ */



h2,
h1 {
	font-family: var(--headFont);
	font-weight: var(--fw-void);
}

h1 {
	font-size: clamp(2.2rem, 6.4vw, 3.8125rem);
	line-height: 1.2em;
	font-size: var(--fs-header);
}

h2 {
	font-size: clamp(1.25rem, 2vw, 1.5625rem);
}

/* temp style to differentiate different sections on the site */

.sections:nth-child(even) {
	background-color: rgb(11, 97, 151);
}

.sections:nth-child(odd):not(.hero_section) {
	background-color: rgb(53, 10, 61);
}
/* ################################################################ */
/* Media Q for themes based on system setting */
/* ################################################################ */

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--dm-bckgrnd-clr);
		color: var(--dm-font-clr);
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: var(--lm-bckgrnd-clr);
		color: var(--lm-font-clr);
	}
}

/* Media Q for themes based on user choice, using a class on body*/

/* @media() {
}
body.light-mode {
	background-color: var(--lm-bckgrnd-clr);
	color: var(--lm-font-clr);
}

body.dark-mode {
	background-color: --dm-bckgrnd-clr;
	color: var(--dm-font-clr);
} */
