/* below this: KP reset */

/* makes sizing simpler */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
html {
	color-scheme: dark light;
	hanging-punctuation: first last;
}

/* min body height */
body {
	min-height: 100svh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li {
	/* max-width: var(--p-max-width, 65ch); */
	text-wrap: pretty;
	max-width: 70ch;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}

/* improve page scrolling on click when user accepts scrolling  */
/* scroll more in any direction based on padding size */
@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
		/* scroll-padding-top: 0.0001px;  */
	}
}

/* above this: KP reset */

/* ################################################################ */
/* possible vars to use */

/* :root {
	--primary: #e41b25;
	--primaryLight: #ffd675;
	--secondary: #00698f;
	--secondaryLight: #001f3f;
	--headerColor: #1a1a1a;
	--bodyTextColor: #4e4b66;
	--bodyTextColorWhite: #fff;
	--topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
	--headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
	--bodyFontSize: 1rem;
	--sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
	--bodyFontFamily: "Open Sans", "Adjusted Trebuchet MS Fallback", Trebuchet MS, sans-serif;
	--headerFontFamily: "Oswald", "Adjusted Impact Fallback", Impact, sans-serif;
}*/

:root {
	/* font families */
	--bodyFont: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	--headFont: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

	/* font weights */
	--fw-reg: 400;
	--fw-bold: 500;
	--fw-dark: 600;
	--fw-void: 700;

	/* font sizes */
	--fs-1: 1rem;
	--fs-2: 1.25rem;
	--fs-3: 1.5rem;
	--fs-4: 2.25rem;
	--fs-5: 4rem;
	--fs-topper: var(--fs-3);
	--fs-header: var(--fs-5);

	--fs-paragraphs: clamp(1.04rem, 1.1vw, 1.2rem);

	/* FONT COLOR */

	/* BRAND COLOR */
	--brand-primary: #da9920;
	--brand-secondary: #df7700;

	/* light mode */
	--lm-bckgrnd-clr: hsl(0, 0%, 100%);
	--lm-font-clr: #000000;

	/* dark mode */
	--dm-bckgrnd-clr: #000000;
	--dm-font-clr: #fff;

	/* ######################### */

	/* spacing elements */
	--section-padding: 40px;
	--title-padding: 30px;
	--para-padding: 20px;
}

/* ################################################################ */
/* ######################## REUSABLE STYLES ####################### */
/* ################################################################ */

/* REUSABLE CONTAINER */
.container {
	max-width: 1536px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	/* border: 1px white solid; */
}

/* REUSABLE OVERLAY */
.overlay-gradient {
	border-image: linear-gradient(hsl(0, 0%, 0%), hsla(0, 0%, 0%, 0.1)) fill 1;
}

.overlay-linear {
	border-image: linear-gradient(hsl(0, 0%, 0%, 1), hsla(0, 0%, 0%, 0.5)) fill 1;
}

/* REUSABLE HIDE ELEMENT */

.visibly-hidden {
	display: none;
}

/* ################################################################ */
/* ######################### BODY STYLES ########################## */
/* ################################################################ */

body {
	font-family: var(--bodyFont);
	background-color: var(--dm-bckgrnd-clr);
	color: var(--dm-font-clr);
	font-size: var(--fs-1);
	line-height: 1.9em;
	letter-spacing: 0.03em;
	margin-inline: auto;
	text-align: center;
}

.body-wrapper {
	max-width: 2000px;
	margin-inline: auto;
}

/* ################################################################ */
/* ################# GENERALLY APPLIED TAG STYLES ################# */
/* ################################################################ */

h2,
h1 {
	font-family: var(--headFont);
	font-weight: var(--fw-void);
	line-height: 1.2em;
}

h2 {
	font-size: clamp(1.65rem, 3vw, 2.5625rem);
	padding-bottom: 30px;
	color: var(--brand-primary);
	text-shadow: 0.025em 0.025em 0 #fefefe, 0.05em 0.05em 0 #000000, 0.075em 0.075em 0 #ffffff;
}

p {
	padding-top: 30px;
	padding-bottom: 15p;
	font-size: var(--fs-paragraphs);
}

/* temp style to differentiate different sections on the site */

.sections:nth-child(even) {
	/* background-color: rgb(11, 97, 151); */
}

.sections:nth-child(odd) {
	/* background-color: rgb(53, 10, 61); */
}

/* ################################################################ */
/* ######################### HEADER STYLES ######################## */
/* ################################################################ */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 200px;
}

header > nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2vw;
}

header > nav > a {
	color: var(--dm-font-clr);
	font-size: clamp(1rem, 1.5vw, 1.4rem);
	text-decoration: none;
	font-family: var(--headFont);
	line-height: 1.5em;
}

header > nav > a:hover,
header > nav > a:focus {
	color: var(--brand-primary);
	border-bottom: 3px solid rgb(255, 255, 255);
	text-shadow: 0.025em 0.025em 0 #000000, 0.05em 0.05em 0 var(--brand-primary), 0.075em 0.075em 0 #ffffff;
	transform: translateY(-2px);
	transition-duration: 380ms;
	transition-property: border-bottom, background-color, transform, text-shadow;
	transition-timing-function: linear;
}

/* ################################################################ */
/* ######################## SECTION STYLES ######################## */
/* ################################################################ */

.sections {
	min-height: 100vh;
}

/* ###################### HERO STYLES ##################### */

.hero-section {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 200px); /* -200px for the header :) */
	max-height: 100vh;
	background-color: rgb(7, 0, 46);
	background-image: url(../images/salah-regouane-cFtUyJS0v20-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.hero-section > div {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 1020px;
	height: 60vh;
}

.hero-section > div::before,
.hero-section > div::after {
	position: absolute;
	content: "";
	width: 130px;
	height: 130px;
	border: 1.6px white solid;
	border-bottom: 0;
	border-right: 0;
	top: 0;
}

.hero-section > div::before {
	left: 0;
}

.hero-section > div::after {
	right: 0;
	transform: rotate(90deg);
}

.shopName {
	font-size: clamp(1.3rem, 1.9vw, 1.8rem);
	font-style: italic;
	color: var(--brand-primary);
	text-shadow: 0.025em 0.025em 4px #000000;
}

.shopName::before,
.shopName::after {
	position: absolute;
	content: "";
	width: 130px;
	height: 130px;
	border: 1.6px white solid;
	border-top: 0;
	border-right: 0;
	bottom: 0;
}

.shopName::before {
	left: 0;
}

.shopName::after {
	right: 0;
	transform: rotate(-90deg);
}

.hero-h1 {
	font-size: clamp(2.2rem, 6.4vw, 3.8125rem);
	font-weight: 500;
	line-height: 1.45em;
	text-shadow: 0.025em 0.025em 0 #000000, 0.05em 0.05em 0 var(--brand-secondary), 0.075em 0.075em 0 #000000;
}

.hero-BTN {
	font-size: clamp(1.2rem, 1.9vw, 1.5rem);
	font-weight: var(--fw-void);
	background-color: var(--brand-primary);
	color: var(--lm-font-clr);
	text-shadow: 0.045em 0.045em 0 #ffffff;
	padding-inline: 20px;
	padding-block: 15px;
	text-decoration: none;
	border-radius: 20px;
}

.hero-BTN:hover {
	color: #fff;
	background-color: var(--brand-secondary);
	text-shadow: 0.045em 0.045em 2px #000000;
	/* border: 1px solid #fff; */
}

/* ###################### ABOUT STYLES ##################### */

.about-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	/* max-height: 100vh; */
	/* margin-top: -101px; */
}

.about-paragraph-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	flex: 1 1 350px;
	padding-inline-start: 40px;
}

.about-paragraph > h2 {
	padding-top: 0;
}

.about-image-wrapper {
	position: relative;
	flex: 2 1 350px;
	border-radius: 10px;
	aspect-ratio: 4/3;
	max-width: 1000px;
	/* border: 1px var(--brand-secondary) solid; */
}

.about-image-wrapper > img {
	width: 100%;
	aspect-ratio: 4/3;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

/* the img's background */
.about-image-wrapper::before {
	position: absolute;
	top: -1%;
	right: 0;
	content: "";
	background-color: #da9920;
	width: 99.7%;
	height: 102%;
	z-index: -1;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

/* the background lines for style */
/* .about-image-wrapper::after {
    position: absolute;
    top: -5%;
    right: 66.9%;
    content: "";
    background-color: black;
    width: 3%;
    height: 110%;
    z-index: -1;
    border: 1px rgb(255, 255, 255) solid;
    border-block: none;
} */

/* a div created to hold 2 more pseudo elements (lines) inside this img wrapper */

/* .about-before-after {
    position: absolute;
    width: 100%;
    height: 100%;
}

.about-before-after::before {
    position: absolute;
    top: -5%;
    right: 63%;
    content: "";
    background-color: rgb(0, 0, 0);
    width: 3%;
    height: 110%;
    z-index: -1;
    border: 1px rgb(255, 255, 255) solid;
    border-block: none;
}

.about-before-after::after {
    position: absolute;
    top: -5%;
    right: 59%;
    content: "";
    background-color: rgb(0, 0, 0);
    width: 3%;
    height: 110%;
    z-index: -1;
    border: 1px rgb(255, 255, 255) solid;
    border-block: none;
} */

/* ###################### SERVICES STYLES ##################### */

.services-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
}

.services-image-wrapper {
	position: relative;
	flex: 2 1 350px;
	border-radius: 10px;
	aspect-ratio: 4/3;
	max-width: 1000px;
	/* border: 1px var(--brand-secondary) solid; */
}

.services-image-wrapper > img {
	width: 100%;
	aspect-ratio: 4/3;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* the img's background */
.services-image-wrapper::before {
	position: absolute;
	top: -1%;
	left: 0;
	content: "";
	background-color: var(--brand-primary);
	width: 99.7%;
	height: 102%;
	z-index: -1;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* the background lines for style */
/* .services-image-wrapper::after {
    position: absolute;
    top: -1%;
    left: 66.7%;
    content: "";
    background-color: black;
    width: 1%;
    height: 102%;
    z-index: -1;
    border: 1px white solid;
    border-block: px var(--brand-primary) solid;
} */

/* a div created to hold 2 more pseudo elements (lines) inside this img wrapper */

/* .services-before-after {
    position: absolute;
    width: 100%;
    height: 100%;
}

.services-before-after::before {
    position: absolute;
    top: -1%;
    left: 63.1%;
    content: "";
    background-color: rgb(0, 0, 0);
    width: 2%;
    height: 102%;
    z-index: -1;
    border: 1px white solid;
    border-block: none;
}

.services-before-after::after {
    position: absolute;
    top: -1%;
    left: 59%;
    content: "";
    background-color: rgb(0, 0, 0);
    width: 3%;
    height: 102%;
    z-index: -1;
    border: 1px white solid;
    border-block: none;
} */

.services-paragraph-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	flex: 1 1 350px;
	padding-inline-end: 40px;
}

.service-list-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
}

.service-list-wrapper {
	> p {
		text-align: left;
		padding-top: 15px;
	}
}

.service-list-wrapper > p > span {
	font-size: clamp(1.16rem, 1.3vw, 1.4rem);
	font-weight: 900;
	color: var(--brand-secondary);
}

/* ###################### PRICES STYLES ##################### */
.prices-section > h2 {
	padding-top: 30px;
	padding-bottom: 60px;
}

.prices-flex-div {
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-top: 100px; */
}

.prices-flex-div > ul:nth-of-type(1) {
	/* background-color: rgb(2, 69, 69); */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-items: center;
}

.prices-flex-div > ul:nth-of-type(2) {
	/* background-color: rgb(2, 69, 69); */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.prices-flex-div > ul {
	flex: 1 1 auto;
	list-style: none;
}

.prices-flex-div > ul > :nth-child(1) {
	padding-top: 30px;
}

.prices-flex-div > ul > li {
	padding-bottom: 44px;
	font-size: var(--fs-paragraphs);
}

.prices-flex-div > ul > :nth-child(even) {
	color: var(--brand-primary);
}

/* ################################################################ */
/* ######################## GALLERY STYLES ######################## */
/* ################################################################ */

@keyframes slideLeft {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

.gallery-section {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 49vh;
}

.gallery-outer {
	position: relative;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	padding: 0;
}

.gallery-outer::before,
.gallery-outer::after {
	position: absolute;
	top: 0;
	content: "";
	z-index: 2;
	width: 25%;
	height: 100%;
}

.gallery-outer::before {
	left: 0;
	background: linear-gradient(to left, hsla(0, 0%, 0%, 0), hsl(0, 0%, 0%));
}

.gallery-outer::after {
	right: 0;
	background: linear-gradient(to right, hsla(0, 0%, 0%, 0), hsl(0, 0%, 0%));
}

.gallery-inner {
	display: inline-block;
	animation: 55s slideLeft infinite linear;
}

.gallery-outer:hover .gallery-inner {
	animation-play-state: paused;
}

.gallery-inner img {
	display: inline-block;
	max-height: 100%;
	max-width: initial;
	aspect-ratio: 4/3;
	margin-inline: 40px;
	vertical-align: middle;
}

/* ################################################################ */
/* ###################### TESTIMONIALS STYLES ##################### */
/* ################################################################ */

@keyframes slideRight {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

.testimonials-section {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 49vh;
}

.testimonials > div > h2 {
	padding: 0;
}

.testimonials-outer {
	position: relative;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
}

.testimonials-outer::before,
.testimonials-outer::after {
	position: absolute;
	top: 0;
	content: "";
	z-index: 2;
	width: 25%;
	height: 100%;
}

.testimonials-outer::before {
	left: 0;
	background: linear-gradient(to left, hsla(0, 0%, 0%, 0), hsl(0, 0%, 0%));
}

.testimonials-outer::after {
	right: 0;
	background: linear-gradient(to right, hsla(0, 0%, 0%, 0), hsl(0, 0%, 0%));
}

.testimonials-inner {
	display: inline-block;
	animation: 55s slideRight 3.9s infinite linear;
}

.testimonials-outer:hover .testimonials-inner {
	animation-play-state: paused;
}

.testimonials-inner img {
	display: inline-block;
	max-height: 100%;
	max-width: initial;
	aspect-ratio: 4/3;
	margin-inline: 40px;
	vertical-align: middle;
}

/* ################################################################ */
/* ##################### CONTACT/FOOTER STYLES #################### */
/* ################################################################ */

.contact-section {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 5px;
	background-image: url(../images/barber-chair-salon-hairdresser-previewBW.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: var(--dm-font-clr);
}

footer {
}

.contact-span {
    color: var(--brand-secondary);
}

.Gmap {
	border: 5px solid var(--brand-primary);
	border-radius: 10px;
}

.SocialIcon {
	/* color: #fff; */
	background-color: var(--brand-primary);
	width: 63px;
	font-size: 2.5rem;
	margin-bottom: 20px;
	border-radius: 15px;
	padding: 1px;
}

.SocialIcon:hover {
	border-bottom: 6px solid rgb(255, 255, 255);
	border-left: 3px solid rgb(255, 255, 255);
	border-right: 3px solid rgb(255, 255, 255);
	text-shadow: 3px 3px 6px hsl(0, 0%, 100%);
	transform: translateY(-4.6px);
	transition-duration: 580ms;
	transition-property: background-color, transform;
	transition-timing-function: ease-out;
}

/* ################################################################ */
/* ################### SCROLL UP BUTTON STYLES #################### */
/* ################################################################ */

.scrollUp {
	display: none;
	position: fixed;
	font-size: 2.7rem;
	line-height: 2.7rem;
	font-weight: 900;
	bottom: 70px;
	right: 10%;
	z-index: 3;
}

.scrollUp > a {
	background-color: var(--brand-secondary);
	color: white;
	text-shadow: 0.015em 0.015em 0 #000000, 0.025em 0.025em 0 var(--brand-primary), 0.045em 0.045em 0 #000000;
	padding-inline: 4px;
	padding-block: 3px;
	text-decoration: none;
	border-radius: 15px;
}

.scrollUp > a:hover {
	color: #ffffff;
	background-color: var(--brand-primary);
	text-shadow: 0.025em 0.025em 0 #000000, 0.04em 0.04em 0 var(--brand-primary), 0.05em 0.05em 0 #ffffff;
}

/* ################################################################ */
/* #################### THEMES BUTTONS STYLE  ##################### */
/* ################################################################ */

.theme-BTN-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 4;
	right: 70px;
	top: 29px;
	width: 120px;
	height: 37px;
	background-color: var(--dm-font-clr);
	border-radius: 20px;
	font-size: 2rem;
}

.theme-BTN-light,
.theme-BTN-dark {
	background: none;
	border: none;
	padding-inline: 10px;
}

.theme-BTN-light {
	color: #da9920;
}

.theme-BTN-dark {
	color: #000000;
}

/* ################################################################ */
/* ########### MEDIA QUERIES FOR USER SELECTED THEMES  ############ */
/* ################################################################ */

/* ################################################################ */
/* LIGHT BODY STYLES */
/* ################################################################ */

@media (prefers-color-scheme: light) {
	.overlay-gradient {
		border-image: linear-gradient(hsl(0, 0%, 100%), hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0)) fill 1;
	}

	.overlay-linear {
		border-image: linear-gradient(hsl(0, 0%, 100%, 1), hsla(0, 0%, 100%, 0.1)) fill 1;
	}

	body {
		background-color: var(--lm-bckgrnd-clr);
		color: var(--lm-font-clr);
	}

	/* ################################################################ */
	/* LIGHT HEADER STYLES */
	/* ################################################################ */

	header {
		background-color: var(--dm-font-clr);
	}

	header > nav > a {
		color: var(--lm-font-clr);
		font-weight: 500;
	}

	header > nav > a:hover,
	header > nav > a:focus {
		border-bottom: 3px solid var(--brand-primary);
		text-shadow: 0.025em 0.025em 0 #000000, 0.05em 0.05em 0 var(--brand-primary), 0.075em 0.075em 0 #000000;
	}

	/* ################################################################ */
	/* LIGHT SECTION STYLES */
	/* ################################################################ */

	.shopName {
		/* line-height: 1.5; */
		background-color: rgba(0, 0, 0, 0.845);
		box-shadow: 0 0 19px rgb(0, 0, 0);
		border-radius: 30px;
		padding-inline: 22px;
	}

	.hero-section > div::before,
	.hero-section > div::after {
		border-color: var(--lm-font-clr);
	}
	.shopName::before,
	.shopName::after {
		border-color: var(--lm-font-clr);
	}

	.prices-flex-div > ul > :nth-child(even) {
		color: #df7700;
	}

    .footer-paragraphs {
        color: var(--lm-font-clr);
    }
}

/* ################################################################ */
/* ####################### MEDIA QUERIES  ######################### */
/* ################################################################ */

/* The desktop-first pre-defined media queries: */

/* 2xl */
@media (max-width: 1536px) {
	.container {
		max-width: 1280px;
	}

	header > nav {
		gap: 1.6vw;
	}
}

/* xl */
@media (max-width: 1280px) {
	.container {
		max-width: 1024px;
	}

	h2 {
		padding-bottom: 10px;
	}

	/* ###################### SERVICES STYLES ##################### */
	.services-section {
		background-color: #0d0124;
		background-image: url(/images/jason-leung-2seUdPQNy_I-unsplash.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		/* display: flex; */
		flex-direction: column;
		border-image: linear-gradient(hsl(0, 0%, 0%), hsla(0, 0%, 0%, 0.4)) fill 1;
	}

	.services-paragraph-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		flex: initial;
		padding-inline: 0;
	}

	.services-paragraph-wrapper > h2 {
		padding-top: 30px;
		padding-bottom: 10px;
	}

	.service-list-wrapper > p {
		padding-block: 31.7px;
	}

	.services-image-wrapper {
		display: none;
		/* width: 100%; */
	}

	.services-image-wrapper > img {
		display: none;
	}

	/* the img's background */
	.services-image-wrapper::before {
		display: none;
	}

	@media (prefers-color-scheme: light) {
		.services-section {
			background-color: #ffffff;
			border-image: linear-gradient(hsl(0, 0%, 100%), hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.7), hsla(0, 0%, 100%, 0.6)) fill 1;
		}
	}

	/* ###################### PRICES STYLES ##################### */

	.prices-section > h2 {
		padding-bottom: 40px;
	}

	.prices-flex-div li {
		padding-bottom: 85px;
	}
}

/* lg */
@media (max-width: 1024px) {
	.container {
		max-width: 768px;
	}

	/* ###################### ABOUT STYLES ##################### */

	.about-section {
		/* background-color: #0d0124; */
		flex-direction: column;
	}

	.about-paragraph-wrapper {
		padding-inline-start: 0px;
	}

	.about-paragraph-wrapper > h2 {
		padding-top: 30px;
	}

	.about-paragraph-wrapper > p {
		padding-top: 15px;
	}

	.about-image-wrapper {
		width: 87%;
	}

	.about-image-wrapper > img {
		border-radius: 19px;
	}
	/* the img's background */
	.about-image-wrapper::before {
		display: none;
	}

	/* ###################### FOOTER STYLES ##################### */
	.contact-section {
		flex-direction: column;
		gap: 25px;
	}

    .social-media {
        display: flex;
        gap: 14vw;
    }
}

/* md */
@media (max-width: 768px) {
	.container {
		max-width: 640px;
	}

	header > nav {
		display: none;
	}
}

/* sm */
@media (max-width: 640px) {
	.container {
		max-width: 475px;
	}

    /* ###################### ABOUT STYLES ##################### */
	.about-image-wrapper {
		width: 100%;
	}

    /* ###################### SERVICES STYLES ##################### */
	.service-list-wrapper {
		& > p {
			padding-top: 13px;
		}
	}

    /* ###################### FOOTER STYLES ##################### */
	.contact-section {
		flex-direction: column;
		gap: 25px;
	}

    .Gmap{
        width: 77vw;
        height: 55vw;
    }
}


/* xs */
@media (max-width: 475px) {
	.container {
		width: 100%;
	}
}
